#header2{
 background-image:url('/static/base1/assets/images/about-bg.jpg') ;    
}
#header3{
 background-image:url('/static/base1/assets/images/post-bg.jpg') ;    
}
#header4{
 background-image:url('/static/base1/assets/images/contact-bg.jpg') ;    
}
#header5{
    background-image:url('/static/home_css/assets/images/home-bg.jpg');
}